<footer class="h-full">
      <div class="flex  mt-10 justify-between p-8  bottom-0 bg-gray-100 rounded-t-2xl " >
        <div>
          <div class="flex">
            <img src="../images/edlancelogo.png" width="50px" alt="">
            <h1 class="mx-2 text-2xl font-medium " >Edlαnce</h1>
          </div>
          <div class="block text-sm text-gray-500 p-4">
            © 2021 Edlαnce, All Rights Reserved
          </div>
        </div>
        <div>
          <div class="mt-10">
            <a class="px-2 text-blue-500 font-medium hover:text-blue-900" href="https://www.notion.so/a7bbbbd26b0b4a5084ec218f013fed84?v=fe2585a4f98b4ed5a419b4268a57e3a5" target="_blank" >About</a>
            <a class="px-2 text-blue-500 font-medium hover:text-blue-900" href="https://www.notion.so/FAQs-a175d350c325430a934332fea332ef1c" target="_blank" >FAQs</a>
            <a class="px-2 text-blue-500 font-medium hover:text-blue-900"href="https://www.notion.so/EdL-nce-Website-438a4a67320249e6876319ea046781c3"  target="_blank" >Website</a>
            <a class="px-2 text-blue-500 font-medium hover:text-blue-900" href="https://www.notion.so/Future-Plans-c4441da12db445f1848ef2f5e93aa26d" target="_blank" >Future Plans</a>

          </div>
        </div>
      </div>
    </footer>